<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css">
    <title>Songame - Quiz</title>
</head>
<body>
    <p class="text_block">
        Zapunch - режим, в котором надо попытаться почувствовать игру слов и воссоздать панч автора текста.
        <br><br>
        Emojilate - режим, в котором надо угадать трек по его отрывку, переведённому на язык эмоджи. Перевод был выполнен при помощи Яндекс.Переводчика.
        <br><br>
        Neurocover - режим, в котором надо угадать трек по его обложке от нейросетей. Сначала ChatGPT составил запрос на основе текста трека, а затем Stable Diffusion создал по этому запросу обложку.
        <br><br>
        Mix - режим с заданиями разных типов вперемешку.
    </p>
</body>
</html>